<div class="main-header">
  <h1>🦹‍♂️ Superhéroes 🌟</h1>

  <div>
    <button class="btn btn-add" onclick="window.location.href='/heroes/agregar'">
      + Agregar Superhéroe
    </button>
  </div>
</div>